/* Coolors Exported Palette - https://coolors.co/b7094c-a01a58-892b64-723c70-5c4d7d-455e89-2e6f95-1780a1-0091ad */

// /* SCSS HEX */
$amaranth-purple: #b7094cff;
$jazzberry-jam: #a01a58ff;
$amaranth-m-p: #892b64ff;
$byzantium: #723c70ff;
$cyber-grape: #5c4d7dff;
$bdazzled-blue: #455e89ff;
$cg-blue: #2e6f95ff;
$cg-blue-2: #1780a1ff;
$blue-munsell: #0091adff;

// /* SCSS HSL */
// $amaranth-purple: hsla(337, 91%, 38%, 1);
// $jazzberry-jam: hsla(332, 72%, 36%, 1);
// $amaranth-m-p: hsla(324, 52%, 35%, 1);
// $byzantium: hsla(302, 31%, 34%, 1);
// $cyber-grape: hsla(259, 24%, 40%, 1);
// $bdazzled-blue: hsla(218, 33%, 40%, 1);
// $cg-blue: hsla(202, 53%, 38%, 1);
// $cg-blue-2: hsla(194, 75%, 36%, 1);
// $blue-munsell: hsla(190, 100%, 34%, 1);

// // /* SCSS RGB */
// $amaranth-purple: rgba(183, 9, 76, 1);
// $jazzberry-jam: rgba(160, 26, 88, 1);
// $amaranth-m-p: rgba(137, 43, 100, 1);
// $byzantium: rgba(114, 60, 112, 1);
// $cyber-grape: rgba(92, 77, 125, 1);
// $bdazzled-blue: rgba(69, 94, 137, 1);
// $cg-blue: rgba(46, 111, 149, 1);
// $cg-blue-2: rgba(23, 128, 161, 1);
// $blue-munsell: rgba(0, 145, 173, 1);

// /* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b7094cff, #a01a58ff, #892b64ff, #723c70ff, #5c4d7dff, #455e89ff, #2e6f95ff, #1780a1ff, #0091adff);
$gradient-right: linear-gradient(90deg, #b7094cff, #a01a58ff, #892b64ff, #723c70ff, #5c4d7dff, #455e89ff, #2e6f95ff, #1780a1ff, #0091adff);
$gradient-bottom: linear-gradient(180deg, #b7094cff, #a01a58ff, #892b64ff, #723c70ff, #5c4d7dff, #455e89ff, #2e6f95ff, #1780a1ff, #0091adff);
$gradient-left: linear-gradient(270deg, #b7094cff, #a01a58ff, #892b64ff, #723c70ff, #5c4d7dff, #455e89ff, #2e6f95ff, #1780a1ff, #0091adff);
$gradient-top-right: linear-gradient(45deg, #b7094cff, #a01a58ff, #892b64ff, #723c70ff, #5c4d7dff, #455e89ff, #2e6f95ff, #1780a1ff, #0091adff);
$gradient-bottom-right: linear-gradient(135deg, #b7094cff, #a01a58ff, #892b64ff, #723c70ff, #5c4d7dff, #455e89ff, #2e6f95ff, #1780a1ff, #0091adff);
$gradient-top-left: linear-gradient(225deg, #b7094cff, #a01a58ff, #892b64ff, #723c70ff, #5c4d7dff, #455e89ff, #2e6f95ff, #1780a1ff, #0091adff);
$gradient-bottom-left: linear-gradient(315deg, #b7094cff, #a01a58ff, #892b64ff, #723c70ff, #5c4d7dff, #455e89ff, #2e6f95ff, #1780a1ff, #0091adff);
$gradient-radial: radial-gradient(#b7094cff, #a01a58ff, #892b64ff, #723c70ff, #5c4d7dff, #455e89ff, #2e6f95ff, #1780a1ff, #0091adff);