// Coolors Exported Palette - https://coolors.co/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226

// CSS HEX
// --rich-black-fogra-29: #001219ff;
// --blue-sapphire: #005f73ff;
// --viridian-green: #0a9396ff;
// --middle-blue-green: #94d2bdff;
// --medium-champagne: #e9d8a6ff;
// --gamboge: #ee9b00ff;
// --alloy-orange: #ca6702ff;
// --rust: #bb3e03ff;
// --rufous: #ae2012ff;
// --ruby-red: #9b2226ff;

// CSS HSL
// --rich-black-fogra-29: hsla(197, 100%, 5%, 1);
// --blue-sapphire: hsla(190, 100%, 23%, 1);
// --viridian-green: hsla(181, 88%, 31%, 1);
// --middle-blue-green: hsla(160, 41%, 70%, 1);
// --medium-champagne: hsla(45, 60%, 78%, 1);
// --gamboge: hsla(39, 100%, 47%, 1);
// --alloy-orange: hsla(30, 98%, 40%, 1);
// --rust: hsla(19, 97%, 37%, 1);
// --rufous: hsla(5, 81%, 38%, 1);
// --ruby-red: hsla(358, 64%, 37%, 1);

// SCSS HEX
$rich-black-fogra-29: #001219ff;
$blue-sapphire: #005f73ff;
$viridian-green: #0a9396ff;
$middle-blue-green: #94d2bdff;
$medium-champagne: #e9d8a6ff;
$gamboge: #ee9b00ff;
$alloy-orange: #ca6702ff;
$rust: #bb3e03ff;
$rufous: #ae2012ff;
$ruby-red: #9b2226ff;

// SCSS HSL
// $rich-black-fogra-29: hsla(197, 100%, 5%, 1);
// $blue-sapphire: hsla(190, 100%, 23%, 1);
// $viridian-green: hsla(181, 88%, 31%, 1);
// $middle-blue-green: hsla(160, 41%, 70%, 1);
// $medium-champagne: hsla(45, 60%, 78%, 1);
// $gamboge: hsla(39, 100%, 47%, 1);
// $alloy-orange: hsla(30, 98%, 40%, 1);
// $rust: hsla(19, 97%, 37%, 1);
// $rufous: hsla(5, 81%, 38%, 1);
// $ruby-red: hsla(358, 64%, 37%, 1);

// // SCSS RGB
// $rich-black-fogra-29: rgba(0, 18, 25, 1);
// $blue-sapphire: rgba(0, 95, 115, 1);
// $viridian-green: rgba(10, 147, 150, 1);
// $middle-blue-green: rgba(148, 210, 189, 1);
// $medium-champagne: rgba(233, 216, 166, 1);
// $gamboge: rgba(238, 155, 0, 1);
// $alloy-orange: rgba(202, 103, 2, 1);
// $rust: rgba(187, 62, 3, 1);
// $rufous: rgba(174, 32, 18, 1);
// $ruby-red: rgba(155, 34, 38, 1);

// SCSS Gradient
$gradient-top: linear-gradient(0deg, #001219ff, #005f73ff, #0a9396ff, #94d2bdff, #e9d8a6ff, #ee9b00ff, #ca6702ff, #bb3e03ff, #ae2012ff, #9b2226ff);
$gradient-right: linear-gradient(90deg, #001219ff, #005f73ff, #0a9396ff, #94d2bdff, #e9d8a6ff, #ee9b00ff, #ca6702ff, #bb3e03ff, #ae2012ff, #9b2226ff);
$gradient-bottom: linear-gradient(180deg, #001219ff, #005f73ff, #0a9396ff, #94d2bdff, #e9d8a6ff, #ee9b00ff, #ca6702ff, #bb3e03ff, #ae2012ff, #9b2226ff);
$gradient-left: linear-gradient(270deg, #001219ff, #005f73ff, #0a9396ff, #94d2bdff, #e9d8a6ff, #ee9b00ff, #ca6702ff, #bb3e03ff, #ae2012ff, #9b2226ff);
$gradient-top-right: linear-gradient(45deg, #001219ff, #005f73ff, #0a9396ff, #94d2bdff, #e9d8a6ff, #ee9b00ff, #ca6702ff, #bb3e03ff, #ae2012ff, #9b2226ff);
$gradient-bottom-right: linear-gradient(135deg, #001219ff, #005f73ff, #0a9396ff, #94d2bdff, #e9d8a6ff, #ee9b00ff, #ca6702ff, #bb3e03ff, #ae2012ff, #9b2226ff);
$gradient-top-left: linear-gradient(225deg, #001219ff, #005f73ff, #0a9396ff, #94d2bdff, #e9d8a6ff, #ee9b00ff, #ca6702ff, #bb3e03ff, #ae2012ff, #9b2226ff);
$gradient-bottom-left: linear-gradient(315deg, #001219ff, #005f73ff, #0a9396ff, #94d2bdff, #e9d8a6ff, #ee9b00ff, #ca6702ff, #bb3e03ff, #ae2012ff, #9b2226ff);
$gradient-radial: radial-gradient(#001219ff, #005f73ff, #0a9396ff, #94d2bdff, #e9d8a6ff, #ee9b00ff, #ca6702ff, #bb3e03ff, #ae2012ff, #9b2226ff);