/* Using SASS */
@import "color-palette-jazzberryNeon", "color-palette-80s",
  "color-palette-custom"; /* Collor palettes */
@import "hero-container"; /*Container stylings */

html {
  font-size: 62.5%; // font-size: 1rem = 10px
  // everywhere use rem
  // on button use em
  // for width use % or min-width if want px or other units
  // for margin most of the time it's rem
  // never set fixed heights
  // use min-heights if you need to
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  min-height: 8vh;
}

footer {
  min-height: 15vh;
  background-color: $gray;
}

// Tablet Size
@media (min-width: 768px) {
  header {
    background-color: purple;
  }
}

// Desktop Size
@media (min-width: 1000px) {
  header {
    background-color: yellow;
  }
}

// Large 2560 Desktop Size
@media (min-width: 2560px) {
  header {
    background-color: greenyellow;
  }
}
