@import "color-palette-jazzberryNeon", "color-palette-80s",
  "color-palette-custom";
/* Using SASS */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero-container {
  background-color: $gray;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "a b b c"
    "d d e e";

  .card {
  }
  .about {
    grid-area: a;
    background-color: $gamboge;
  }
  .projects {
    grid-area: b;
    background-color: $amaranth_purple;
  }
  .contact {
    grid-area: c;
    background-color: $viridian-green;
  }
  .services {
    grid-area: d;
    background-color: $rich-black-fogra-29;
  }
  .how-it-works {
    grid-area: e;
    background-color: $rust;
  }
}
