*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: black;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
img {
  image-rendering: -webkit-optimize-contrast;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.4;
}

h2 {
  font-size: 2.7rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

button {
  background-color: #fff;
  border: transparent solid 0px;
  border-radius: 2.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5em 1.2em;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
button:hover {
  background-color: #001219;
  color: #fff;
  transform: scale(1.1);
}

.card {
  margin: -0.1px;
  overflow: hidden;
}
.card--about {
  grid-area: a;
}
.card--about__front {
  background-color: #ee9b00;
}
.card--about__back {
  background-color: #ca6702;
}
.card--about__title {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.card--about__body {
  font-size: 1.1rem;
  margin-bottom: 3.7rem;
}
.card--projects {
  grid-area: b;
}
.card--projects__front {
  background-color: #b7094c;
}
.card--projects__back {
  background-color: #ca6702;
}
.card--projects__title {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.card--projects__body {
  font-size: 1.1rem;
  margin-bottom: 3.7rem;
}
.card--contact {
  grid-area: c;
}
.card--contact__front {
  background-color: #0a9396;
}
.card--contact__back {
  background-color: #005f73;
}
.card--contact__title {
  font-size: 1.3rem;
  font-weight: 600;
}
.card--contact__body {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}
.card--contact__body span {
  font-weight: 600;
}
.card--services {
  grid-area: d;
}
.card--services__front {
  background-color: #001219;
}
.card--services__back {
  background-color: #ca6702;
}
.card--services__title {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.card--services__body {
  font-size: 1.1rem;
  margin-bottom: 3.7rem;
}
.card--how {
  grid-area: e;
}
.card--how__front {
  background-color: #bb3e03;
}
.card--how__back {
  background-color: #ca6702;
}
.card--how__title {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.card--how__body {
  font-size: 1.1rem;
  margin-bottom: 3.7rem;
}
.card:hover .card__content {
  transform: rotateY(0.5turn);
}
.card__content {
  height: 100%;
  text-align: center;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  color: #fff;
}
.card__front, .card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__back {
  transform: rotateY(0.5turn);
  padding: 2rem 1.5rem;
}
.card__title--front {
  transform: translateZ(8rem);
  font-size: 2.5rem;
}
.card__title--back {
  transform: translateZ(8rem);
}
.card__body {
  transform: translateZ(4rem);
}
.card__button {
  transform: translateZ(6rem);
  margin-bottom: 0.5rem;
}
.card__icons {
  transform: translateZ(4rem);
  display: flex;
  gap: 0.75rem;
  margin-bottom: 6rem;
}
.card__icons img {
  width: 2.5rem;
  transition: ease-in-out 0.2s;
}
.card__icons img:hover {
  transform: scale(1.4);
}

.navigation {
  min-height: 8vh;
}

.hero-container {
  background-color: #707070;
  min-height: 92vh;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: 1fr 0.9fr 1.1fr;
  grid-template-areas: "a a c c" "b b b b" "d d e e";
}

@media (min-width: 768px) {
  header {
    background-color: purple;
  }

  .hero-container {
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 1fr 0.9fr 1.1fr;
  }
}
@media (min-width: 1000px) {
  header {
    background-color: yellow;
  }

  .hero-container {
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "a b b c" "d d e e";
  }
}
@media (min-width: 2560px) {
  header {
    background-color: greenyellow;
  }
}
.footer {
  min-height: 15vh;
  background-color: #707070;
}

/* Table of contents
------------------------------
-- base imports
-- components imports
-- layout imports
-- page imports
-- vendors imports
**/

/*# sourceMappingURL=/styles.5c8f3eab.css.map */