@use "../abstracts" as *;

.card  {
  &--about {
    grid-area: a;
  }
  &--projects {
    grid-area: b;
    background-color: $amaranth_purple;
  }
  &--contact {
    grid-area: c;
    background-color: $viridian-green;
  }
  &--services {
    grid-area: d;
    background-color: $rich-black-fogra-29;
  }
  &--how-it-works {
    grid-area: e;
    background-color: $rust;
  }
  &:hover &__content {
    transform: rotateY(.5turn);
  }
  &__content {
    height: 100%;
    text-align: center;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    color: #fff;
  }
  &__front,
  &__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__front {
    background-color: $gamboge;
  }
  &__back {
    transform: rotateY(.5turn);
    background-color: $alloy-orange;
    padding: 2rem 1.5rem;
  }
  &__title {
    &--front {
      transform: $level-four;
      font-size: 2.5rem;
    }
    &--back {
      transform: $level-three;
      font-size: 1.15rem;
      font-weight: 600;
      margin-bottom: 1.8rem;
    }
  }
  &__body {
    transform: $level-two;
    font-size: 1.1rem;
    margin-bottom: 3.7rem;
  }
  &__button {
    transform: $level-three;
    &--projects {
    }
  }
}
