html {
  font-size: 62.5%; 
  // font-size: 1rem = 10px
  // everywhere use rem
  // on button use em
  // for width use % or min-width if want px or other units
  // for margin most of the time it's rem
  // never set fixed heights
  // use min-heights if you need to
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.4;
}

h2 {
  font-size: 2.7rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.20rem;
  // margin-bottom: 1.25rem;
}