//card levels
$level-one: translateZ(2rem);
$level-two: translateZ(4rem);
$level-three: translateZ(8rem);

$level-one_tablet: translateZ(3rem);
$level-two_tablet: translateZ(6rem);
$level-three_tablet: translateZ(9rem);

$level-one_desktop: translateZ(3rem);
$level-two_desktop: translateZ(6rem);
$level-three_dekstop: translateZ(9rem);